*.iml
*.ipynb_checkpoints/
*.db
*.log
.netlify
MetarMap/scripts/build_databases/deploy.log
MetarMap/scripts/build_tfrs/tfrs.geojson
MetarMap/scripts/build_databases/db_manifest.json
MetarMap/scripts/build_databases/deploy.log
MetarMap/scripts/build_databases/alldata/
MetarMap/scripts/build_databases/data/
MetarMap/scripts/build_databases/zip/
MetarMap/scripts/build_charts/OLD/*
MetarMap/scripts/build_charts/logs/*
MetarMap/scripts/build_charts/2_make_charts_ifr.sh
MetarMap/scripts/build_charts/2_make_charts_skip.sh
MetarMap/scripts/build_charts/2_make_charts_term.sh
MetarMap/scripts/build_charts/3_make_zips.py.ori
MetarMap/scripts/build_charts/__pycache__/
MetarMap/scripts/build_charts/states/
MetarMap/OLD/
Terminal/
build_charts
build_databases
build_terrain/
build_tfrs
jup.sh
metarmap/Enroute_Low/
metarmap/Sectional/
metarmap/Terminal/
metarmap/zips/
node_modules/
package-lock.json
package.json
saved/
chartmaker/chartcache/
chartmaker/OLD/
chartmaker/workarea/
chartmaker/charts/
MetarMap/scripts/build_tfrs/logs.sh
MetarMap/scripts/.DS_Store
